* {box-sizing: border-box; }
body { margin:0; }
h1 {margin-left: 1rem}

/* CSS rules for Navigation */
.main-nav .nav-button {
    position: absolute;
    font-size: 2rem;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
}
/* change default displays for List Items (li) */
.main-nav ul {
    margin: 0;
    padding: 0;
    /* mobile first, so hide the menu to start */
    display: none;
    list-style: none;
    background-color:peachpuff;
}
.main-nav ul.active {
    display:block;
} /* used for JavaScript to display menu */
.main-nav a {
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    font-weight: bold;
    text-decoration: none;
    text-align:right;
    display: block;
    color: #333;
    
}
.main-nav a:hover, .main-nav a:focus {
  background: #ccc;
  color: black;
}



/* end of CSS rules for Navigation */


.flex { 
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.flex img { width:100%; }

p { 
    padding-left:1rem;
    padding-right:1rem;
}

/* footer styles */
footer {
    text-align:center;
    background-color: peachpuff;
    padding-top:0.5rem;
    padding-bottom:0.5rem;
}

/* Media queries go at the end */
@media screen and (min-width: 800px) {
    /* hide the menu button on larger screen */
    .main-nav .nav-button {
        display:none;
    }
    /* change how the menu displays */
    .main-nav ul, .main-nav ul.active {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        /*flex-start => left justified*/
    }
    
    .flex div {
        width:50%
    }
    
    /*footer styles*/
    footer {
        display:flex;
    }
    footer div {
        width:50%
    }
    footer div.copy {
        text-align:left;
    }
    footer div.contact {
        text-align:right;
    }
    
    
}

